h1:first-of-type {
    margin-top: 0.0em !important;
    margin-bottom: 0.875rem !important;
    line-height: 1 !important;
}

.site-nav {
  padding-top: 1.875rem !important;
}

.site-title {
  font-size: 1.75rem !important;
  font-weight: 520 !important;
}

.search-result-rel-url {
  display: none !important;
}

